<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.gp.mapper.GpNewsMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hzl.hadoop.gp.entity.GpNewsEntity" id="gpNewsMap">
        <result property="id" column="id"/>
        <result property="source" column="source"/>
        <result property="gpCode" column="gp_code"/>
        <result property="title" column="title"/>
        <result property="releaseTime" column="release_time"/>
        <result property="url" column="url"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionNum" column="version_num"/>
    </resultMap>


</mapper>