<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzl.hadoop.gp.mapper.GpZxMapper">

    <select id="selectMaxPriceVolatility" resultType="com.hzl.hadoop.gp.vo.ZXVO">
        SELECT DISTINCT
            ( gz.max_price ),
            gz.current_price,
            gz.init_price,
            gz.yesterday_end_price,
            gz.created_date
        FROM
            gp_zx gz
        WHERE
            gz.created_date > CURRENT_DATE

            <if test="gpCode!=null and gpCode!=''">
                and gz.gp_code=#{gpCode}
            </if>

        GROUP BY
            gz.max_price
    </select>
    <select id="selectMinPriceVolatility" resultType="com.hzl.hadoop.gp.vo.ZXVO">
        SELECT DISTINCT
            ( gz.min_pirce ),
            gz.current_price,
            gz.init_price,
            gz.yesterday_end_price,
            gz.created_date
        FROM
            gp_zx gz
        WHERE
            gz.created_date > CURRENT_DATE
        <if test="gpCode!=null and gpCode!=''">
            and gz.gp_code=#{gpCode}
        </if>

        GROUP BY
            gz.min_pirce
    </select>
    <select id="executeSql" resultType="java.util.LinkedHashMap">
        ${_parameter}
    </select>


</mapper>