<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.interfacemanager.mapper.InterfaceManageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hzl.hadoop.interfacemanager.entity.InterfaceManageEntity" id="interfaceManageMap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="url" column="url"/>
        <result property="method" column="method"/>
        <result property="isLogin" column="is_login"/>
    </resultMap>
    <select id="selectUrls" resultType="java.lang.String">
        select url from interface_manage
    </select>


</mapper>