<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>成交额变动</title>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2plot/0.11.3/dist/g2plot.js"></script>
</head>
<body>
<div id="app"></div>
<script>
    const container = document.getElementById('app');
    const data = ${maxMinHtmlVO.data};
    const config = {
        "title": {
            "visible": true,
            "text": "成交额变动"
        },
        "description": {
            "visible": true,
            "text": "一个简单的多折线图"
        },
        "legend": {
            "position": "top-center",
            "flipPage": false
        },
        "yAxis": {
            "line": {
                "visible": true
            },
            "tickLine": {
                "visible": true
            }
        },
        "point": {
            "visible": true
        },
        "forceFit": false,
        "xField": "x",
        "yField": "y",
        "seriesField": "series",
        "width": 1080,
        "height": 554,
        "color": [
            "#e8684a",
            "#5AD8A6",
            "#5D7092",
            "#5D9096",
            "#5AD226"
        ]
    }
    const plot = new g2plot.Line(container, {
        data,
        ...config,
    });
    plot.render();
</script>
</body>
</html>