<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzl.hadoop.workflow.mapper.GatewayNodeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hzl.hadoop.workflow.entity.GatewayNodeEntity" id="gatewayNodeMap">
        <result property="id" column="id"/>
        <result property="nodeNum" column="node_num"/>
        <result property="approverId" column="approver_id"/>
        <result property="approverGroupId" column="approver_group_id"/>
        <result property="positionNum" column="position_num"/>
        <result property="nextNodeId" column="next_node_id"/>
        <result property="nextNodeType" column="next_node_type"/>
        <result property="startId" column="start_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="versionNum" column="version_num"/>
    </resultMap>


</mapper>