<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzl.hadoop.app.mapper.Contractmapper">
    <insert id="insertTest">
        insert into test VALUES (#{i})
    </insert>
    <update id="update">
        UPDATE hcbm_contract set contract_name='测试' where id=950
    </update>

    <select id="selectTest" resultType="com.hzl.hadoop.app.dataobject.ContractDO">
        select * from hcbm_contract limit 1
    </select>

    <update id="updateDate">
        UPDATE hcbm_contract set signature_date=#{localDate}  where id=1
    </update>
    <update id="updateDate1">
        UPDATE hcbm_contract set signature_date=#{localDate}  where id=1
    </update>
</mapper>