<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzl.hadoop.gp.mapper.GpVolumeMapper">
    <select id="queryVolume" resultType="com.hzl.hadoop.gp.vo.VolumeVO">
        SELECT
            gz.id,
            gz.turnover,
            gz.gp_code,
            gz.number/10000 as number,
            DATE_FORMAT(gz.created_date,'%y-%m-%d' ) as date,
            gz.current_price
        FROM
            gp_zx gz
        WHERE
            gz.id IN (
            select max( gz.id )
             FROM gp_zx gz
             <where>
                 <if test="gpCode!=null and gpCode!=''">
                     and gz.gp_code=#{gpCode}
                 </if>
             </where>
            GROUP BY DATE_FORMAT( gz.created_date, '%Y-%m-%d' )
             )
    </select>
    <select id="queryVolumeYl" resultType="com.hzl.hadoop.gp.vo.VolumeVO">
        SELECT
        gz.id,
        gz.turnover,
        gz.gp_code,
        gz.number/10000 as number,
        DATE_FORMAT(gz.created_date,'%y-%m-%d' ) as date,
        gz.current_price
        FROM
        gp_yl gz
        WHERE
        gz.id IN (
        select max( gz.id )
        FROM gp_yl gz
        <where>
            <if test="gpCode!=null and gpCode!=''">
                and gz.gp_code=#{gpCode}
            </if>
        </where>
        GROUP BY DATE_FORMAT( gz.created_date, '%Y-%m-%d' )
        )
    </select>
</mapper>